@media (max-width: 1800px) {
  .card {
    width: 30%;
    margin: 2.5% 0 0 0;
  }
}

@media (max-width: 800px) {
  .card {
    width: 45%;
    margin: 3.33% 0 0 0;
  }
}
@media (max-width: 400px) {
  .card {
    width: 90%;
    margin: 5% 0 0 0;
  }
}

/* card element */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
#welcome-section {
  height: 100vh;
  background-color: azure;
  width: 100%;
}

#porto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* end of cards */

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: purple;
  color: white;
  text-align: centers;
}

.icon-div {
  display: flex;
  /* width: auto; */
  /* max-width: 100%; */
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.icon-images {
  width: 25px;
  height: auto;
}

#contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: azure;
}
